*,
*:before,
*:after {
  box-sizing: border-box;

}

#root {
	color: blue;
	width: 95%;	
	margin: 0 auto;
	position: relative;
}

.clearfix {
	clear: both;
}

.none {
  display: none !important;
}

.goods {
	position: relative;
	width: 70%;	
	float: left;

}

.goods__meals-header {
	width: 100%;
	text-align: center;
	font-size: 1.5em;
	padding: 10px 0;
}

.goods__item {
	width: 100%;
	position: relative;	
	margin-bottom: 10px;
}

.goods__item-img {
	width: 50%;
	height: 200px;
	float: left;
}

.goods__item-body {
	width: 50%;
	height: 200px;
	float: right;
	position: relative;		
}

.goods__item-body__name {
	font-size: 1.4em;
	padding-left: 10%;
	margin-bottom: 15px;
}

.goods__item-body__price {
	padding-left: 10%;
	margin-bottom: 15px;
}

.goods__item-body__description {
	padding-left: 10%;
	color: black;	
}

.goods__item-body__add {
	position: absolute;
	bottom: 10px;
	left: 10%;
}

.list {
	position: relative;
	width: 30%;	
	float: right;

}

.list-header {
	width: 100%;
	padding: 10px 0 10px 10%;
	font-size: 1.5em;

}

.list-body {
	padding-left: 10%;
	margin-top: 10px;
}

.list-body__item {
	margin-top: 5px;
}

.list-body__img {
	width: 30%;
	height: 80px;
	float: left;
}

.list-body__text {
	width: 70%;
	padding-left: 5%;
	float: right;
	position: relative;	
}

.list-body__name {
	font-size: 1.2em;

}

.list-body__button {
	min-width: 20%;
}

.list-body__buy {
	margin-top: 20px;
	position: relative;
}

.list-body__buy-length {
	padding-left: 10%;
	margin-top: 10px;
}

.list-body__buy-total {
	padding-left: 10%;
	margin-top: 10px;	
}

.list-body__buy-button {
	margin-left: 10%;
	min-width: 20%;	
	text-align: center;
}

.list-body__download {
	margin-left: 10%;
	margin-top: 10px;	
}

@media screen and (max-width: 1100px) {

	.goods__item-img {

		height: 150px;
	}

	.list-body__img {
		height: 70px;
	}
}

@media screen and (max-width: 700px) {

	.goods {
		position: relative;
		width: 100%;	
		float: left;
		border: 1px solid blue;
	}


	.goods__item-img {

		height: 200px;
	}

	.list {
		position: relative;
		width: 100%;	
		float: right;
		border: 1px solid red;
	}


	.list-body__img {
		height: 90px;
	}	
}